<div class="card" [ngClass]="{'completed': item.completed}" style="width: 18rem;">
  <img src="{{item.image}}" style="width:200px;height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">
        <input type="checkbox" [checked]="item.completed" (change)="onToggle(item)">
        {{item.title}}
    </h5>
    <p class="card-text">Precio: {{item.price | currency}}</p>
    <p class="card-text">Cantidad: {{item.quantity}}</p>
    <p class="card-text">Total: {{(item.quantity*item.price | currency)}}</p>
    <button (click)="onDelete(item)" class="btn btn-danger">Eliminar</button>
  </div>
</div>
